<br>
<br>
<div class="container">
    <div class="row m-y-2">
        <div class="text-lg-center">
            <h2>Edit Profile</h2>
        </div>
        <div class="col-lg-8">
        </div>
        <div class="col-lg-8 push-lg-4 personal-info">
            <br>
            <form role="form">
                <div class="form-group row">
                    <div class="row">
                    <div class="col-lg-3">
                    </div>
                    <div class="col-lg-4">
                        <img [src]="imgURL"class="mx-auto img-fluid img-circle d-block" alt="avatar" height="100" *ngIf="imgURL">
                    </div>
                </div>
                    <label class="col-lg-3 col-form-label form-control-label">Upload a photo</label>
                    <div class="col-lg-9">
                    <label class="custom-file">
                        <span style="color:red;" *ngIf="message">{{message}}</span>
                        <input #file type="file" accept='image/*' (change)="preview(file.files)" />
                    </label>
                </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">First name</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="text" value="Jane" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Last name</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="text" value="Bishop" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Email</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="email" value="email@gmail.com" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Date of Birth</label>
                    <div class="col-lg-9">
                        <input type="date" class="form-control" id="exampleInputDOB1" placeholder="Date of Birth">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Address</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="text" value="" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label"></label>
                    <div class="col-lg-9">
                        <input type="reset" class="btn btn-secondary" value="Cancel" />
                        <input type="button" class="btn btn-primary" value="Save Changes" />
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>
<hr />