<div class="container">
    <button (click)="onLogout()">Logout</button>
    <div class="test">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h5 class="card-title text-center">Login With</h5>
                        <div style="text-align: center">
                            <div class="text-center social-btn">
                                <a (click)="socialSignIn('google')" class="btn btn-google btn-block"><i
                                        class="fa fa-google"></i> Sign in with
                                    <b>Google</b></a>
                                <a (click)="socialSignIn('facebook')" class="btn btn-facebook btn-block"><i
                                        class="fa fa-facebook"></i> Sign in
                                    with <b>Facebook</b></a>
                                <a class="btn btn-github btn-block"><i class="fa fa-github"></i> Sign in
                                    with
                                    <b>Github</b></a>
                                <a href="#" class="btn btn-bitbucket btn-block"><i class="fa fa-bitbucket"></i> Sign in
                                    with <b>Bitbucket</b></a>
                                <a (click)="onTwitter()" class="btn btn-twitter btn-block"><i class="fa fa-twitter"></i>
                                    Sign in with
                                    <b>Twitter</b></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
</div>